.navbar{
	margin-bottom: 0;
	border-radius: 0;
	background-color: #5E4485;
	padding: 1% 0;
	font-size: 1.2em;
	border: 0;
}

.navbar-brand {
	float: left;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover{
	color: #FFF;
	background-color: #5E4485;
}

.navbar-inverse .navbar-nav li a {
	color: #D5D5D5;
}

#container {
	margin: 0px auto;
	width: 500px;
	height: 375px;
	border: 10px #333 solid;
}

#videoElement {
	width: 500px;
	height: 375px;
	background-color: #666;
}	


.img-fluid{
	max-width: 100%;
	height:auto;
}


.navbar-brand img {
    width:20%;
    height: 50px;
}